<?xml version="1.0" encoding="utf-8" ?>
<Tree>
	<TreeNode Text="AES" IconFont="_Home" NavigateUrl="~/User/AES">
	</TreeNode>
	<TreeNode Text="DES" NavigateUrl="~/User/DES" IconFont="_Edit">

	</TreeNode>
  <TreeNode Text="HMAC" NavigateUrl="~/User/HMAC"  IconFont="_Window">

  </TreeNode>
	<TreeNode Text="MD5"  NavigateUrl="~/User/MD5" IconFont="_Table">
		
	</TreeNode>
	<TreeNode Text="SHA" NavigateUrl="~/User/SHA" IconFont="_Gallery">

	</TreeNode>
	<TreeNode Text="Base64" NavigateUrl="~/User/Base64" IconFont="_Mobile">
		
	</TreeNode>
	<TreeNode Text="RSA" NavigateUrl="~/User/RSA"  IconFont="_Layout">
		
	</TreeNode>
	<TreeNode Text="二维码生成" NavigateUrl="~/User/QRCode"  IconFont="_Responsive">
	</TreeNode>
  <TreeNode Text="繁简转换" NavigateUrl="~/User/ChineseTrans"  IconFont="_Key">
  </TreeNode>
<TreeNode Text="js格式化" NavigateUrl="~/User/Js"  IconFont="_Maximize">
  </TreeNode>
</Tree>
